{% extends 'layout.html' %}

    {% block style %}
    <style>
        a#adminDropDownButton{
            font-size: 16px;
            color: #34bce4;
            text-decoration: none;
            font-weight: bold;
        }
        a#adminDropDownButton:hover{
            text-decoration: none;
            color: #34bce4;
        }
    </style>
    {% endblock style %}


    {% block body %} 
                <table class="table datatable" id="user-table">
                    <thead>
                        <tr class="replace-inputs">

                            <!-- Select button -->
                            <th style="color: black; text-align: center; vertical-align: middle;" onclick="selectVisible()">Select</th>

                            <!-- Status (online/offline) -->
                            <th style="color: black;"><input type="text" class="form-control" placeholder="First Name" /></th>

                            <!-- ID -->
                            <th style="color: black;"><input type="text" class="form-control" placeholder="Lastname" /></th>

                            <!-- IP Address -->
                            <th style="color: black;"><input type="text" class="form-control" placeholder="Phone Number" /></th>

                            <th style="color: black;">

                                <select id='ward' class="form-control" placeholder="ward" name='ward'>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                </select>
                            </th>

                            <th style="color: black;"><input type="text" class="form-control" placeholder="Local Government" /></th>

                            <th style="color: black; text-align: center; vertical-align: middle;">Preview</th>
                            
                            <th style="color: black; text-align: center; vertical-align: middle;">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr style="background-color: white; color: grey; font-size: 14px" id="user-row-{{ user.id }}">

                            <!-- Check box -->
                            <td style="text-align: center; vertical-align: middle;">
                                <div class="checkbox checkbox-replace color-blue">
                                    <input type="checkbox" id="chk-{{ user.id }}">
                                </div>
                            </td>

                            
                            <td style="text-align: center; vertical-align: middle;">
                                <span id="{{ user.id }}" style="color: gray;">{{ user.firstname }}</span>
                            </td>

                            <td style="text-align: center; vertical-align: middle;">
                                <span id="{{ user.id }}" style="color: gray;">{{ user.lastname }}</span>
                            </td>

                            <td style="text-align: center; vertical-align: middle;">
                                <span id="{{ user.id }}" style="color: gray;">{{ user.phone }}</span>
                            </td>

                            <td style="text-align: center; vertical-align: middle;">
                                <span id="{{ user.id }}" style="color: gray;">{{ user.ward }}</span>
                            </td>

                            <td style="text-align: center; vertical-align: middle;">
                                <span id="{{ user.id }}" style="color: gray;">{{ user.lga }}</span>
                            </td>

                            <td class="text-center">
                                <button class="btn btn-primary" name="{{ user.id }}" onclick="previewUser(this)"><i class="fa fa-preview"></i> Preview</button>
                            </td>

                            <td class="text-center">
                                {% if user.role == 'admin' or user.role == 'super' %}
                                <button class="btn btn-secondary" name="{{ user.id }}" disabled></i>Admin</button>
                                {% else %}
                                <button class="btn btn-secondary" name="{{ user.id }}" onclick="removeUser(this)"><i class="fa fa-trash"></i>Delete</button>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        {% endblock %}
                


    {% block script %}

    <script type='text/javascript'>
        jQuery(document).ready(function( $ ){
            
        })
    </script> 
    <script type='text/javascript'>
    jQuery(document).ready(function( $ ){

        var $table = jQuery('#user-table');
        var table = $table.DataTable({
            "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
        });
        $table.colsest('.dataTables_wrapper').find('select').select2({
            minimumResultsForSearch: -1
        });
        table.columns().every( function () {
            var that = this;
        
            $( 'input', this.header() ).on( 'keyup change', function () {
                if ( that.search() !== this.value ) {
                    that
                        .search( this.value )
                        .draw();
                    }
                });
            });
        })
    </script>
    <script>
        function removeUser(element){
            var res = confirm('Are you sure you want to delete this user?')
            if (res == true){
                $.post('{{ url_for("api.user_remove") }}', {user_uid: element.getAttribute('name')},
                    function(response){
                        if (response){
                            console.log(response)
                            $('#user-row-' + element.getAttribute('name')).remove();    
                        }
                        
                    }
                )
            }
        }

        function previewUser(element){
            location.href = '/admin/profile/' + element.getAttribute('name');
        }
    </script>
    
    {% endblock %}