
{% from 'security/_macros.html' import render_field_with_errors, render_image, render_field, admin_view_input %}
{% extends 'layout.html' %}


    {% block stylesheet %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}

    {% block style %}
    <style>
        a{
            text-decoration: none;
            color: #34bce4;
            font-size: 14px;
        }
        a:hover{
            text-decoration: none;
            color: #30859d;
        }

        .col-md-5 .text-content span{
            padding: 0px 20px 0px 20px;
        }
        .social-links i{
            font-size: 25px;
            color: #34bce4;
        }
        .list-inline > li{
            display: inline-block;
            padding-right: 10px;
            padding-left: 10px;
        }
        footer .copyright{
            font-size: 14px;
        }
        footer .context ul{
            padding-left: 0px;
        }
        footer .context ul li{
            display: list-item;
            list-style: none;
            line-height: 26px;
        }
        footer .context ul li i.fa{
            margin-right: 15px;
            color: #34bce4;
        }
    </style>
    {% endblock %}


    {% block body %}
        <div class="card">

            <div class="print-form" style='padding-right: 40px; padding-bottom: 100px;'>
                <div class="col-md-12 col-sm-12">
                    <h4 style="margin-bottom: 15px;"><strong><a href="/admin/" style="font-size: 18px;"><span class="arrow-back">&#x2190</span> Back to Admin Dashboard</a></strong></h4>
                    <form action="" method="post" enctype="multipart/form-data">
                        {{ form2.hidden_tag() }}
                        {{ render_image(form2.profile_image) }}
                        {{ form2.submit_btn(class='btn btn-primary') }}
                        {% if user.image != 'default_profile.jpg' %}
                            <!-- <button class="btn btn-info" onclick="printContent('printt')" style="padding-right: 15px; padding-left: 15px;">Print</button> -->
                            <a href="/admin/print/{{ user.id }}" class='btn btn-info'>Print</a>
                        {% else %} 
                            <button class='btn btn-info' data-toggle='tooltip' data-placement='top' title='Change your profile picture' disabled="disabled">Print</button>
                        {% endif %}
                    </form>
                </div>
                
            </div>
            <div id="printt" name='print' style='min-height: 100vh;'>
                <header>
                    <div class="row">
                        <div class="col-sm-8 col text-center">
                            <h3>Membership Registration card</h3>
                            <h1><strong>ALL PROGRESSIVE CONGRESS</strong></h1>
                            <h3><strong>Ekiti Chapter</strong></h3>
                            <div class="logo">
                                <img src="\static\images\logo.png" alt="Apc Logo">
                            </div>
                            <h3><strong>JUSTICE, PEACE AND UNITY</strong></h3>
                            <h3><strong>Change</strong></h3>
                        </div>
                        <div class="col-sm-4 col text-center">
                            <img src="/static/images/profile_pictures/{{ user.image }}" alt="User Profile Picture" style='width: 100%; max-width: 275px; margin-right: 20px; max-height: 300px'>
                        </div>
                    </div>
                </header>
                <main>
                    <form action="" method='POST' name='register_form'>
                    <div class="container">
                        <div class="personal" style="margin-top: 50px"> 
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-md-2 col-2">
                                            <h3 class="form-header">First Name: </h3>
                                        </div>
                                        <div class="col-sm-4 col-4">
                                                {{ admin_view_input(form.firstname) }}
                                        </div>
                                        <div class="col-md-2 col-2">
                                            <h3 class="form-header">Last Name: </h3>
                                        </div>
                                        <div class="col-md-4 col-4">
                                                {{ admin_view_input(form.lastname) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-md-2 col-2">
                                            <h3 class="form-header">State: </h3>
                                        </div>
                                        <div class="col-md-10 col-10">
                                            {{ admin_view_input(form.state) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-md-2 col-2">
                                            <h3 class="form-header">Town: </h3>
                                        </div>
                                        <div class="col-md-4 col-4">
                                            {{ admin_view_input(form.city) }}
                                        </div>
                                        <div class="col-md-1 col-2">
                                            <h3 class="form-header">Sex: </h3>
                                        </div>
                                        <div class="col-md-5 col-4">
                                            {{ form.sex(class='form-control') }}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-md-2 col-2">
                                            <h3 class='form-header'>Telephone: </h3>
                                        </div>
                                        <div class="col-md-4 col-5">
                                            {{ admin_view_input(form.phone) }}
                                        </div>
                                        <div class="col-md-2 col-2">
                                            <h3 class="form-header">Ward: </h3>
                                        </div>
                                        <div class="col-md-4 col-3">
                                            {{ admin_view_input(form.ward) }}
                                        </div>
                                    </div>
                                </div>

                                

                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-md-3 col-3">
                                            <h3 class='form-header'>Local Government: </h3>
                                        </div>
                                        <div class="col-md-9 col-9">
                                            {{ admin_view_input(form.lga) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-12" style="margin-top: 50px;">
                        {{ form.submit(class='btn btn-primary') }}
                    </div>
                    </form>
                </main>
            </div>

            {% if user.role == 'admin' and current_user.id == user.id or user.role == 'user' or  user.role == 'super' and current_user.id == user.id %}
            <div class="btn-group dropup">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Change Password
                </button>
                <div class="dropdown-menu">
                    <form class="px-4 py-3" method="POST" action='{{ url_for("api.change_password") }}' >
                        <div class="form-group">
                            <label for="{{ form3.password.id }}">Password</label>
                            {{ admin_view_input(form3.password) }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form3.confirm_password.id }}">Confirm Password</label>
                            {{ admin_view_input(form3.confirm_password) }}
                        </div>
                        <div class="form-group">
                            <input type="text" class="for-control" value="{{ user.id }}" name='user_id' hidden>
                        </div>
                            {{ form3.submit(class='btn btn-primary') }}
                    </form>
                    
                </div>
            </div>
            {% endif %}
        </div>
    {% endblock %}


    {% block script %}
    <script>
        var phone_field = document.getElementById('phone');
        
        phone_field.addEventListener('focusout', ()=>{
                console.log('Running')
                var data = phone_field.value;
                if (data.startsWith('0')){
                    phone_field.value = data.replace('0', '+234');
                }
                else if (!data.startsWith('+234')){
                    phone_field.value = '+234' + data
                }
            }
        )
    </script>
    <script type='text/javascript'>
        var file_input_label = document.getElementById('file_input_label');
        var input = document.getElementById('file_input')

        function input_filename(){
            file_input_label.innerText = input.files[0].name;
        }
    </script>
    {% endblock%}

