{% from 'security/_macros.html' import render_field_with_errors, render_image, render_field %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap-4.5.3-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/font-awesome/css/all.css') }}">

    <script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/bootstrap-4.5.3-dist/js/bootstrap.min.js') }}" ></script>
    <title>APC - Memebership Form</title>
    <style>
        a{
            text-decoration: none;
            color: #34bce4;
            font-size: 14px;
        }
        a:hover{
            text-decoration: none;
            color: #30859d;
        }
    
        .col-md-5 .text-content span{
            padding: 0px 20px 0px 20px;
        }
        .social-links i{
            font-size: 25px;
            color: #34bce4;
        }
        .list-inline > li{
            display: inline-block;
            padding-right: 10px;
            padding-left: 10px;
        }
        footer .copyright{
            font-size: 14px;
        }
        footer .context ul{
            padding-left: 0px;
        }
        footer .context ul li{
            display: list-item;
            list-style: none;
            line-height: 26px;
        }
        footer .context ul li i.fa{
            margin-right: 15px;
            color: #34bce4;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <nav class="navbar navbar-dark" style="background-color: rgba(0,0,0,0.6);">
            <a href="/" class="navbar-brand">
                <img src="/static/images/logo.png" alt="Apc Logo" width="100" height="100">
            </a>

            <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link" href="/logout/">Logout</a>
                </li>
              </ul>
        </nav>
        <div class="container-fluid">
            
                
            {% if alert %}
                <div class="col-md-12" style="margin-top: 15px;"></div>    
                    <div class="alert alert-dismissable alert-info">
                        {{ alert }}
                    </div>
                </div>
            {% endif %}
                
            
            <div class="col-md-12" style="margin-top: 15px;">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-dismissable alert-{{ category }}">
                            <a href="#" data-dismiss='alert' class="close">x</a>
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="card">

                <div class="print-form" style='padding-right: 40px; padding-bottom: 100px;'>
                    <div class="col-md-12 col-sm-12">
                        <form action="" method="post" enctype="multipart/form-data">
                            {{ form.hidden_tag() }}
                            {{ render_image(form.profile_image) }}
                            {{ form.submit_btn(class='btn btn-primary') }}
                            {% if user.image != 'default_profile.jpg' %}
                                <!-- <button class="btn btn-info" onclick="printContent('printt')" style="padding-right: 15px; padding-left: 15px;">Print</button> -->
                                <a href="/print/" class='btn btn-info'>Print</a>
                            {% else %} 
                                <button class='btn btn-info' data-toggle='tooltip' data-placement='top' title='Change your profile picture' disabled="disabled">Print</button>
                            {% endif %}
                        </form>
                    </div>
                    
                </div>
                <div id="printt" name='print' style='min-height: 100vh;'>
                    <header>
                        <div class="row">
                            <div class="col-sm-8 col text-center">
                                <h3>Membership Registration Card</h3>
                                <h1><strong>ALL PROGRESSIVE CONGRESS</strong></h1>
                                <h3><strong>Ekiti Chapter</strong></h3>
                                <div class="logo">
                                    <img src="\static\images\logo.png" alt="Apc Logo">
                                </div>
                                <h3><strong>JUSTICE, PEACE AND UNITY</strong></h3>
                                <h3><strong>Change</strong></h3>
                            </div>
                            <div class="col-sm-4 col text-center">
                                <img src="/static/images/profile_pictures/{{ user.image }}" alt="User Profile Picture" style='width: 100%; max-width: 275px; margin-right: 20px; max-height: 300px'>
                            </div>
                        </div>
                    </header>
                    <main>
                        <div class="container">
                            <div class="personal" style="margin-top: 50px"> 
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-md-2 col-2">
                                                <h3 class="form-header">First Name: </h3>
                                            </div>
                                            <div class="col-sm-4 col-4">
                                                <div class="input_field">
                                                    {{ user.firstname | capitalize }}
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-2">
                                                <h3 class="form-header">Last Name: </h3>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <div class="input_field">
                                                    {{ user.lastname | capitalize }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-md-2 col-2">
                                                <h3 class="form-header">State: </h3>
                                            </div>
                                            <div class="col-md-10 col-10">
                                                <div class="input_field">
                                                    {{ user.state }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-md-2 col-2">
                                                <h3 class="form-header">Town: </h3>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <div class="input_field">
                                                    {{ user.city }}
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-2">
                                                <h3 class="form-header">Sex: </h3>
                                            </div>
                                            <div class="col-md-5 col-4">
						 <div class='input_field'>  
							 {{ user.sex }}
                                               </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-md-2 col-2">
                                                <h3 class='form-header'>Telephone: </h3>
                                            </div>
                                            <div class="col-md-4 col-5">
                                                <div class="input_field">
                                                    {{ user.phone }}
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-2">
                                                <h3 class="form-header">Ward: </h3>
                                            </div>
                                            <div class="col-md-4 col-3">
                                                <div class="input_field">
                                                    {{ user.ward }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    

                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-md-3 col-3">
                                                <h3 class='form-header'>Local Government: </h3>
                                            </div>
                                            <div class="col-md-9 col-9">
                                                <div class="input_field">
                                                    {{ user.lga }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="form-row">
                                    <div class="form-group col-md-6 row">
                                        <label for="" class="col-sm-3 col-form-label form-header">First Name:</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control input-file" value='{{ user.firstname }}' disabled>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 row">
                                        <label for=" " class="col-sm-3 col-form-label form-header">Last Name:</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control input-file" value='{{ user.lastname }}' disabled>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </main>
                </div>
                
            </div>
        </div>

        <footer class='footer-section'>
            <div class="container">
                <div class="footer-wrapper">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <h3 class="header-title" style="color: #34bce4;">About</h3>
                            <div class="context">
                                <p>The All Progressives Congress (APC) is a political party in Nigeria, formed on 6 February 2013 
                                    in anticipation of the 2015 elections... <a href='#'>read more</a>
                                </p>
                                <ul>
                                    <li><i class="fa fa-marker"></i> Abuja, Nigeria</li>
                                    <li><i class="fa fa-envelope"></i> info@apc.com.ng</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <h3 class="header-title" style="color: #34bce4;">Quick Links</h3>
                            <div class="context">
                                <ul class="menu">
                                    <li>Home</li>
                                    <li>Login</li>
                                    <li>Register</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="copyright">
                                Copyright &copy; 2020 All Progressives Congress. All Rights Reserved.
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class='social-links text-right'>
                                <ul class="list-inline">
                                    <li><a href='https://www.facebook.com/voteapc' target="_blank"><i class="fab fa-facebook"></i></a></li>
                                    <li><a href='https://www.twitter.com/allprogressives' target="_blank"><i class="fab fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script type='text/javascript'>
        var file_input_label = document.getElementById('file_input_label');
        var input = document.getElementById('file_input')

        function input_filename(){
            file_input_label.innerText = input.files[0].name;
        }
    </script>
    <script type='text/javascript'>
        function printContent(element) {
            var restorepage = document.body.innerHTML;
            var printcontent = document.getElementById(element).innerHTML;
            document.body.innerHTML = printcontent;
            window.print();
            document.body.innerHTML = restorepage;
       }
    </script>
</body>
</html>
