
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APC - Admin Panel</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap-4.5.3-dist/css/bootstrap.min.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/neon-core.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/neon-forms.css') }}"> -->

    {% block stylesheet %}
    {% endblock %}

    <script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
    {% block style  %}
    <style>
        a#adminDropDownButton{
            font-size: 16px;
            color: #34bce4;
            text-decoration: none;
            font-weight: bold;
        }
        a#adminDropDownButton:hover{
            text-decoration: none;
            color: #34bce4;
        }
        .dataTables_wrapper{
            background-color: #333;
        }
    </style>
    {% endblock style %}
</head>
<body>
    <div class="wrapper">

        <header class="navbar navbar-fixed-top logo-env">
			<nav class="navbar navbar-light bg-light" style='width: 100%'>
                <a class="navbar-brand" href="#">
                  <img src="{{ url_for('static', filename='images/logo.png') }}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
                  EKITI CHAPTER
                </a>
                <span class="navbar-text">
                    <div class="dropdown">
                        <a href="#" class='dropdown-toggle' id='adminDropDownButton' data-toggle='dropdown' aria-haspopup="true" aria-expanded="false">
                            <img src="/static/images/profile_pictures/default_profile.jpg" alt="" class="img-circle" width="30" height="30"/>
                            <span font-size: 15px>  {{ current_user.firstname }}</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="adminDropDownButton">
                            <a href="/logout/" class="dropdown-item">Logout</a>
                        </div>
                    </div>
                </span>
              </nav>
        </header>
        <main>
            <div class="container-fluid">
                <div class="col-md-12" id='flash-messages' style='margin-top: 15px;'>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-dismissable alert-{{ category }}">
                                <a href="#" data-dismiss='alert' class="close">x</a>
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                {% block body %}

                {% endblock body %}
                </div>
            </div>
        </main>


    </div>

    {% block script %}
    
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables/datatables.css') }}">
    <script src="{{ url_for('static', filename='plugins/bootstrap-4.5.3-dist/js/bootstrap.min.js') }}" ></script>
    <script src="{{ url_for('static', filename='plugins/datatables/datatables.js') }}"></script>
</body>
</html>