{% from 'security/_macros.html' import render_field_with_errors, render_checkbox_field, render_field %}
{% extends 'site-templates/header.html' %}

    {% block body %}
    <main style='min-height: 100vh;'>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                            <div class="alert alert-dismissable alert-{{ category }}">
                                <a href="#" data-dismiss='alert' class="close">x</a>
                                    {{ message }}
                            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="well" style="text-align: center;">
                    <h1 style="font-weight: bold;">APC - MEMBERSHIP </h1>
            </div>
            <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
                {{ login_user_form.hidden_tag() }}
                {{ render_field_with_errors(login_user_form.email, description='Username') }}
                {{ render_field_with_errors(login_user_form.password, description='Password') }}
                {{ render_checkbox_field(login_user_form.remember) }}
                {{ render_field(login_user_form.next) }}
                {{ render_field(login_user_form.submit, class="btn btn-primary") }}
            </form>
            <p>Not yet signed up? Please <a href="{{ url_for_security('register') }}">register for an account</a>.</p>
        </div>
    </main>

    {% endblock body %}