{% from 'security/_macros.html' import render_field_with_errors, render_image, render_shortfield_with_errors, render_field %}
{% extends 'site-templates/header.html' %}


        {% block body %}
        <main style='min-height: 100vh;'>
            <div class="container-fluid">
                <div class="content-wrapper">
                    <div class="col-md-12">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert alert-dismissable alert-{{ category }}">
                            <a href="#" data-dismiss='alert' class="close">x</a>
                            {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <div class="col-md-7">
                            <form action="/register/" method='POST' name='register_user_form' enctype="multipart/form-data">
                                {{ register_user_form.hidden_tag() }}
                                {{ render_shortfield_with_errors(register_user_form.firstname, register_user_form.lastname) }}
                                
                                {{ render_field_with_errors(register_user_form.email, description='Email') }}
                                {{ render_shortfield_with_errors(register_user_form.sex, register_user_form.country) }}
                                {{ render_shortfield_with_errors(register_user_form.city, register_user_form.state) }}
                                {{ render_field_with_errors(register_user_form.lga, description='Local Government') }}
                                {{ render_field_with_errors(register_user_form.ward, description='Ward') }}
                                {{ render_field_with_errors(register_user_form.phone, description='Phone') }}
                                {{ render_field_with_errors(register_user_form.password, description='Password') }}
                                {% if register_user_form.password_confirm %}
                                {{ render_field_with_errors(register_user_form.password_confirm, description='Confirm Password')}}
                                {% endif %}
                                {{ render_field(register_user_form.submit, class="btn btn-primary") }}
                            </form>
                            <p>Already Signed Up? Please <a href="{{ url_for_security('login') }}">Log In</a>.</p>
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                </div>
            </div>
        </main>

    {% endblock body %}
        
    {% block scripts %}
    {{ super() }}
    <script>
        var wtf_phone_field = document.getElementById('phone');
        wtf_phone_field.style.position = 'absolute';
        wtf_phone_field.style.top = '-9999px';
        wtf_phone_field.style.left = '-9999px';
        wtf_phone_field.parentElement.insertAdjacentHTML('beforeend', '<div><input type="tel" id="_phone" class="form-control"></div>');
        var fancy_phone_field = document.getElementById('_phone');
        var fancy_phone_iti = window.intlTelInput(fancy_phone_field, {
            separateDialCode: true,
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/js/utils.js",
        });
        fancy_phone_iti.setNumber(wtf_phone_field.value);
        fancy_phone_field.addEventListener('blur', function() {
            wtf_phone_field.value = fancy_phone_iti.getNumber();
        });
    </script>
    {% endblock %}